{{ $original := .Page.Resources.GetMatch (printf "%s*" (.Get 0)) }}

<a href="{{ $original.RelPermalink }}">
	<figure class="figure">
		<picture>
			<source media="(min-width: {{ $original.Width }}px)" srcset="{{ $original.RelPermalink }}">
			{{ range $width := seq (sub $original.Width 200) -100 100 }}
				{{ $resized := $original.Resize (printf "%dx" (add $width 100)) }}
				<source media="(min-width: {{ $width }}px)" srcset="{{ $resized.RelPermalink }}">
			{{ end }}
			<img class="figure-img img-fluid" src="{{ $original.RelPermalink }}"
			{{ with $original.Title }}alt="{{ . }}"{{end}}
			>
		</picture>
	{{ with $original.Title }}
	<figcaption class="figure-caption">{{ . }}</figcaption>
	{{ end }}
	</figure>
</a>